---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: arkhamian/basic3tier-api:latest
          ports:
            - containerPort: 80
          env:
            - name: ConnectionStrings__Basic3Tier
              value: "Host=db-clusterip-service;Port=5432;Database=basic3tier;Username=postgres;Password=admin123"
